h1 {
    margin-bottom: 25px;
}
form {
    display: flex;
    flex-direction: column;
}
form .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
form .row label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 250px;
}
.form-error {
    color: var(--problem);
    padding-left: 10px;
}

#register-form-first-name {
    width: 150px;
    margin-right: 5px;
}
#register-form-last-name {
    width: 200px;
}
