h1 {
    font-size: 45px;
}
.full-name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table.object-list {
    width: 100%;
}
table.object-list th {
    font-size: 20px;
}
table.object-list td {
    font-size: 20px;
}
.object-list-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}
.object-list-row > .col {
    flex: 1;
}
.object-list-actions {
    display: flex;
    justify-content: center;
}
