{% extends 'layout.twig' %}

{% block title %}SKOP - Menadžer{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <a href="/manage/genres" class="button pop">Upravljaj žanrovima</a>
    <a href="/manage/movies" class="button pop">Upravljaj filmovima</a>
    <a href="/manage/theaters" class="button pop">Upravljaj bioskopskim salama</a>
    <a href="/manage/repertoire" class="button pop">Upravljaj repertoarom</a>
{% endblock %}
