{% extends 'layout.twig' %}

{% block title %}SKOP - Menadžer{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ publicRoot }}style/manager.css">
{% endblock %}
{% block content %}
    <div class="object-list-row">
        <div class="col">
            {% embed '_parts/domainObjectTable.twig' with {
                columns: [['description', 'Opis']],
                rows: screeningFeatures,
                notEditable: true,
                initialPath: '/manage/repertoire/features'
            } %} {% endembed %}
        </div>
        <div class="col object-form">
            {% embed '_parts/domainObjectInput.twig' with {
                columns: screeningFeatureColumns,
                modifying: (persistentFormData is not empty),
                initialPath: '/manage/repertoire/features',
                objectName: 'tip projekcije'
            } %} {% endembed %}
        </div>
    </div>
{% endblock %}
