{% extends 'layout.twig' %}

{% block title %}SKOP - Menadžer{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ publicRoot }}style/manager.css">
{% endblock %}
{% block content %}
    <div class="object-list-row">
        <div class="col">
            {% embed '_parts/domainObjectTable.twig' with {
                columns: [['name', 'Naziv'], ['price_adult', 'Cena (odrasli)'], ['price_child', 'Cena (deca)']],
                rows: theaterSeatTypes,
                notEditable: false,
                initialPath: '/manage/theaters/seats'
            } %} {% endembed %}
        </div>
        <div class="col object-form">
            {% embed '_parts/domainObjectInput.twig' with {
                columns: theaterSeatTypeColumns,
                modifying: (persistentFormData is not empty),
                initialPath: '/manage/theaters/seats',
                objectName: 'tip sedišta'
            } %} {% endembed %}
        </div>
    </div>
{% endblock %}
