{% extends 'layout.twig' %}

{% block title %}SKOP - Menadžer{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ publicRoot }}style/manager.css">
    <script src="{{ publicRoot }}js/selectFix.js"></script>
{% endblock %}
{% block content %}
    <div class="object-list-row">
        <div class="col">
            {% embed '_parts/domainObjectTable.twig' with {
                columns: [['email', 'E-mail']],
                rows: users,
                initialPath: '/manage/users'
            } %} {% endembed %}
        </div>
        <div class="col object-form">
            {% embed '_parts/domainObjectInput.twig' with {
                columns: userObjectColumns,
                modifying: (persistentFormData is not empty),
                initialPath: '/manage/users',
                editPath: '/manage/users/edit',
                objectName: 'korisnika'
            } %} {% endembed %}
        </div>
    </div>
{% endblock %}
