<td class="timetable-reservation">
    {% if entry.hasStarted %}
    <a class="locked pop">
        <i class="fa-solid fa-ticket"></i>
        <span class="hide-m--">N/A</span>
    </a>
    {% elseif not entry.hasReservationsOnline %}
    <a class="reception pop">
        <i class="fa-solid fa-ticket"></i>
        <span class="hide-m--">Na šalteru</span>
    </a>
    {% else %}
    <a class="online pop" href="/rezervacija?id={{ entry.id }}">
        <i class="fa-solid fa-ticket"></i>
        <span class="hide-m--">Online</span>
    </a>
    {% endif %}
</td>
