{% extends 'layout.twig' %}

{% block title %}SKOP - Prijavljivanje{% endblock %}
{% block head %}
    <link rel="stylesheet" href="">
{% endblock %}
{% block content %}
    <form id="login-form" class="content" action="/login" method="post">
        <h1>Prijavljivanje</h1>
        <div class="row">
            <label for="email">EMAIL</label><input name="email" type="email">
        </div>
        <div class="row">
            <label for="password">ŠIFRA</label><input name="password" type="password">
        </div>
        <div class="row submit-row">
            <input class="pop" value="PRIJAVI SE" type="submit">
        </div>
    </form>
{% endblock %}
